:root {
  --darkest: 38, 35, 58;
  --darker: 57, 53, 82;
  --dark: 110, 106, 134;
  --white: 224, 222, 244;
  --red: 235, 111, 146;
  --yellow: 246, 193, 119;
  --purple: 196, 167, 231;
  --pale: 235, 188, 186;
  --blue: 156, 207, 216;
}