body, html, #root {
  border: none;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(var(--darkest));
  color: rgb(var(--white));
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header, main {
  width: 100%;
  padding: 1rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(var(--darker));
  border-bottom: 1px solid rgb(var(--dark));
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
  }
  .invalid input {
    border-bottom: 1px solid rgb(var(--red));
  }
  input {
    background-color: rgba(var(--darkest), 0.25);
    border-bottom: 1px solid rgb(var(--white));
  }
  p {
    padding: 0.5rem 0.75rem;
  }
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  appearance: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(var(--dark));
  color: rgb(var(--white));
  &:hover {
    border: 1px solid rgb(var(--white));
    svg {
      fill: rgb(var(--white));
    }
  }
  span {
    min-width: max-content;
  }
  svg {
    width: 1.25rem;
  }
}

input {
  color: rgb(var(--white));
}

input, textarea {
  appearance: none;
  border: none;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: rgb(var(--white));
}

small {
  font-size: 0.875rem;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: calc(100% - 20px);
  max-width: 300px;
}

.auth-form-outer {
  position: relative;
  width: 100%;
  padding: 5px;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top left, rgb(var(--yellow)), rgb(var(--pale)), rgb(var(--blue))
    );
  }
  &::after {
    filter: blur(30px);
    opacity: 0.5;
  }
}

.auth-form {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: rgba(var(--darkest), 0.7);
  button {
    color: rgb(var(--white));
    background-color: rgba(var(--darkest), 0.25);
    border: 1px solid rgb(var(--white));
    &:hover {
      box-shadow: 0px 0px 10px rgb(var(--yellow));
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

.form-error {
  background-color: rgba(var(--red), 0.3);
}

.form-info { 
  background-color: rgba(var(--blue), 0.3);
}


.dropdown-menu-wrapper {
  position: relative;
  height: 100%;
  min-height: 3rem;
  button {
    height: 100%;
  }
}

.dropdown-menu {
  position: absolute;
  min-width: 100%;
  right: 0;
  top: 3.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  background-color: rgb(var(--darker));
  border: 1px solid rgb(var(--dark));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  z-index: 9;
  > * {
    width: 100%;
  }
  button {
    border: none;
    padding: 0.5rem;
    &:hover {
      background-color: rgb(var(--dark));
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(var(--darkest), 0.75);
}

.modal-content {
  position: relative;
  padding: 1rem;
  background-color: rgb(var(--darker));
  border: 1px solid rgb(var(--dark));
  width: calc(100% - 20px);
  max-width: 400px;
  margin-bottom: 3rem;
  h3, p {
    width: 100%;
  }
  > button {
    position: absolute;
    bottom: -3.5rem;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: rgb(var(--darker));
  }
}

.dropdown-menu, .modal-content, .modal-content > button {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.ReactModalPortal, [data-react-modal-body-trap] { border: none }