@font-face {
  font-family: "Roboto Condensed";
  src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Roboto Condensed Italic";
  src: url(./fonts/RobotoCondensed-Italic-VariableFont_wght.ttf);
}

:root {
  /* tailwind "zinc" palette */
  --white1: #f1f5f9;
  --white2: #cbd5e1;
  --white3: #94a3b8;
  --black1: #334155;
  --black2: #1e293b;
  --black3: #0f172a;

  /* html colors */
  --warning: crimson;
  --success: yellowgreen;
  --info: lightseagreen;

  --fontstack: Helvetica, Arial, sans-serif;
  --radius: 5px;
}

[data-theme="light"] {
  --fg: var(--black2);
  --bg: var(--white1);
  --bg2: var(--white2);
  --border: var(--white3);
}

[data-theme="dark"] {
  --fg: var(--white3);
  --bg: var(--black2);
  --bg2: var(--black1);
  --border: var(--black3);
}

body {
  font-family: "Roboto Condensed", var(--fontstack);
  font-weight: 400;
  color: var(--fg);
  background-color: var(--bg2);
}

i {
  font-style: normal !important;
  font-family: "Roboto Condensed Italic", var(--fontstack);
}
