body,
html,
#root {
  border: none;
  width: 100%;
  height: 100%;
}

body {
  background: rgb(var(--darkest));
  color: rgb(var(--white));
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header,
main {
  width: 100%;
  padding: 1rem;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: rgb(var(--darker));
  border-bottom: 1px solid rgb(var(--dark));
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 0;
}

button,
input,
textarea {
  appearance: none;
  border: none;
  background-color: transparent;
  min-width: 0px;
  &::placeholder {
    color: rgba(var(--white), 0.5)
  }
}

input, textarea {
  &::placeholder {
    color: rgb(var(--dark))
  } 
}

button {
  appearance: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.button {
  border: 1px solid rgb(var(--dark));
  color: rgb(var(--white));
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover,
  &.active {
    border: 1px solid rgb(var(--white));

    .button-svg {
      fill: rgb(var(--white));
    }
  }
}

.button-svg {
  fill: rgb(var(--dark));
  width: 1.375rem;
  min-width: 1.375rem;
}

.inline-svg {
  height: 1rem;
  min-width: 1rem;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.5rem;
  fill: rgb(var(--white));
}

input,
textarea {
  color: rgb(var(--white));
  padding: 0.5rem;
}

small {
  font-size: 0.875rem;
}

span {
  max-width: max-content;
}

a {
  color: rgb(var(--white));
  text-decoration: none;
}

.text-link {
  color: rgb(var(--white));
  text-decoration: underline;
}

.text-paragraph+.text-paragraph {
  margin-top: 0.5rem;
}

p.info {
  padding: 0.5rem 0.75rem;
  width: 100%;

  &.error {
    background-color: rgba(var(--red), 0.3);
  }

  &.neutral {
    background-color: rgba(var(--purple), 0.3);
  }

  &.success {
    background-color: rgba(var(--blue), 0.3);
  }

  &.warning {
    background-color: rgba(var(--yellow), 0.3);
  }
}

.expand {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;  width: 100%;
  justify-content: center;
}

button, h2, h3, span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* spinner */

.loading-spinner {
  width: 3.5rem;
  height: 3.5rem;
  border: 5px solid rgb(var(--darker));
  border-bottom-color: rgb(var(--yellow));
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-logo-svg {
  width: 1.25rem;
  fill: rgb(var(--yellow));
  animation: no-spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes no-spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loading-error-svg {
  width: 3rem;
  fill: rgb(var(--red));
}

/* auth route card */

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: calc(100% - 2rem);
  max-width: 400px;
}

.auth-body {
  position: relative;
  width: 100%;
  padding: 5px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, rgb(var(--yellow)), rgb(var(--pale)), rgb(var(--blue)));
  }

  &::after {
    filter: blur(30px);
    opacity: 0.5;
  }
}

.auth-body-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: rgba(var(--darkest), 0.7);
}

.auth-submit {
  color: rgb(var(--white));
  background-color: rgba(var(--darkest), 0.25);
  border: 1px solid rgb(var(--white));

  &:hover {
    box-shadow: 0px 0px 10px rgb(var(--yellow));
  }
}

/* vertical API forms */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.25rem;
}

label.form-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;

  &.invalid input {
    border-bottom: 1px solid rgb(var(--red));
  }
}

input.label-text-input {
  background-color: rgba(var(--darkest), 0.3);
  border-bottom: 1px solid rgb(var(--white));
}

/* modal */

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: rgba(var(--darkest), 0.75);
  transition: opacity 0.5s ease;
}

.modal-content {
  position: relative;
  padding: 1rem;
  background-color: rgb(var(--darker));
  border: 1px solid rgb(var(--dark));
  width: calc(100% - 20px);
  max-width: 400px;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.modal-close {
  position: absolute;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: rgb(var(--darker));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 250ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* dropdown */

.dropdown-wrapper {
  position: relative;
  height: 100%;
  min-height: 3rem;
}

.dropdown-button {
  height: 100%;
}

.dropdown-menu {
  position: absolute;
  min-width: 100%;
  right: 0;
  top: 3.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  background-color: rgb(var(--darker));
  border: 1px solid rgb(var(--dark));
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  z-index: 9;
}

.dropdown-menu-button {
  color: rgb(var(--white));
  border: none;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  &:hover {
    background-color: rgb(var(--dark));

    .dropdown-menu-svg {
      fill: rgb(var(--white))
    }
  }
}

.dropdown-menu-svg {
  width: 1rem;
  min-width: 1rem;
  fill: rgb(var(--dark));
}

/* main elements */

.header-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header-bar-text {
  flex-grow: 1;
  border-bottom: 1px solid rgb(var(--dark));
}

.header-bar-button {
  min-height: 3rem;
  height: 100%;
  background-color: rgb(var(--darker));
}

/* channel list */

.channels-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  align-items: start;
}

.channels {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.channel {
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  border: 1px solid rgb(var(--dark));
  background-color: rgb(var(--darker));

  .fire {
    fill: rgb(var(--dark));
    width: 2.5rem;
    min-width: 2.5rem;
  }

  &:hover {
    border-color: rgb(var(--white));

    .fire {
      fill: rgb(var(--white))
    }
  }
}

.channel-details {
  flex-grow: 1;
  max-width: calc(100% - 3.5rem);
}

.channel-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.channel-displayname, .channel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}

b.channel-status-spacer {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  opacity: 0.5;
}

.channels-search {
  background-color: rgb(var(--darker));
  border: 1px solid rgb(var(--dark));
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.channels-search-title {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.channels-search-admin {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

input[type="checkbox"] {
  border: 1px solid rgb(var(--dark));
  cursor: pointer;
  width: 1rem;
  height: 1rem;

  &:hover {
    border: 1px solid rgb(var(--white));
  }

  &:checked {
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 5px;
      width: 6px;
      height: 12px;
      border: solid rgb(var(--white));
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

/* messages */

.messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  height: 0px;
  padding: 1rem;
  border: 1px solid rgb(var(--dark));
  background-color: rgb(var(--darker));
  & .message:nth-last-child(2) {
    flex-grow: 1;
  }
}

.message {
  margin-left: 1rem;
  text-indent: -1rem;
  .react-tooltip {
    text-indent: 0;
  }
}

.message-header {
  display: inline;
}

.message-content {
  overflow: hidden;
  display: inline;
}

.md-paragraph:only-child {
  display: inline
}

.md-link {
  color: rgb(var(--purple));
  text-decoration: underline;
}

.md-ul, .md-ol {
  margin-left: 1rem;
  list-style-position: outside;
}

.md-li {
  white-space: break-spaces;
  padding-left: 1rem;
  &::marker {
    color: rgb(var(--purple))
  }
}

.md-img {
  max-width: min(500px, 100%);
}

.message-timestamp {
  display: inline-block;
  text-indent: 0;
  margin-top: 0.125rem;
  margin-right: 0.5rem;
  min-width: max-content;
  font-size: 0.75rem;
  opacity: 0.75;
}

.message-user {
  margin-right: 0.5rem;
  color: rgb(var(--purple));
  &.admin {
    color: rgb(var(--yellow));
  }
  &.not-in-channel {
    color: rgb(var(--white));
  }
}

.user-svg {
  margin-left: 0.5rem;
  margin-right: 0rem;
  fill: rgb(var(--purple));
}

.firestarter-svg { fill: rgb(var(--yellow)) }
.ghost-svg { fill: rgb(var(--white)) }

.typing {
  line-height: 0.825rem;
  min-height: 0.825rem;
  opacity: 0.825;
  font-size: 0.825rem;
}

.compose {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.compose-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
}

textarea.compose-textarea {
  height: 100%;
  flex-grow: 1;
  border: 1px solid rgb(var(--dark));
  background-color: rgb(var(--darker));
  color: rgb(var(--white));
  height: 3rem;
  max-height: 6rem;
  overflow-x: hidden!important;
}

.compose-send {
  height: 3rem;
  background-color: rgb(var(--darker));
}

/* tooltips */

.react-tooltip {
  background-color: rgb(var(--white))!important;
  color: rgb(var(--darker))!important;
  font-weight: normal;
  transition: opacity 0.25s ease-in-out!important;
  box-shadow: 0 0 10px rgba(var(--darkest), 0.75);
  z-index: 99999;
}

/* the logo */

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  &:hover .logo-svg {
    fill: rgb(var(--yellow))
  }
}

.logo-svg {
  width: 3rem;
  fill: rgb(var(--dark));
  transition: fill 0.5s ease;
}

.logo-header {
  font-size: 3rem;
}

header {
  .logo {
    gap: 0.5rem;
  }
  .logo-svg {
    width: 2.5rem;
  }
  .logo-header {
    font-size: 2rem;
  }
}

/* repo link */

.repo-p {
  position: relative;
  width: 2rem;
  margin-top: 2rem;
}

.repo-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  margin: auto;
  width: 2rem;
  height: 2rem;
  &:hover .github-svg {
    fill: rgb(var(--white));
  }
}

.github-svg {
  fill: rgb(var(--dark));
  transition: fill 0.5s ease;
}

/* media queries */

@media screen and (max-width: 500px) {
  .messages {
    gap: 0.75rem;
  }

  .message {
    text-indent: 0;
    margin-left: 0;
  }

  .message-content {
    display: block;
  }

  .md-ol, .md-ul {
    margin-left: 0rem;
    .md-li {
      margin-left: 1rem;
      padding-left: 0;
    }
  }

  header .button span, .header-bar-button span {
    display: none;
  }
}

.about-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}